{:deps true

 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:hekommerce {:target :browser
               :output-dir "public/js"
               :asset-path "public/js"
               :modules {:main {:init-fn hekommerce.frontend.render/init}}
               :release {:compiler-options {:optimizations :advanced
                                            :infer-externs :auto}}}}}
